<div>
    <h3>CATEGORIA</h3>
<select  id="categoriasId" onclick="categoria()">
<option value="todo" >todo</option>
<option value="fruta">fruta</option>
<option value="verdura">verdura</option>
</select>
