<h1>LOGEARSE</h1>
<form method="post" action="/login">
  <label for="username ">nombre</label>
  <input
    id="nombreSessionId"
    type="text"
    name="username"
    placeholder="ingrese su nombre"
    required
  />
  <br />
  <label for="password ">contraseña</label>
  <input
    id="passwordId"
    type="text"
    name="password"
    placeholder="ingrese su contraseña"
    required
  />
  <br />
  <input type="submit" value="LOGIN" />
  <br />
</form>
<a href="/signup">Ir a signup</a>
<br />
<a href="/api/productos">Ir a inicio</a>
