<% if(producto.length> 0) {%> <% producto.forEach((produc)=>{ %>
    <div id="productos">
      <div>
        <ul>
          <li>
            <%= produc.producto %>
          </li>
          <li><img src="<%= produc.img_url %>" alt="#" /></li>
          <li>$<%= produc.precio %>
          </li>
        </ul>
      </div>
      <button onclick="cargarProductoCarrito(`<%= produc._id %>`)">cargar producto al carrito</button>
    </div>
    <% } ) %>
      <% }else{ %>
        <h2>no hay productos</h2>
        <%}%>