<% if(productoCarrito.length > 0) {%> 
  <% productoCarrito.forEach((produc)=>{ %>
    <div id="productos">
      <div>
        <ul>
          <li><%= produc.producto %></li>
          <li><img src="<%= produc.img_url %>" alt="#" />%></li>
          <li>$<%= produc.precio %></li>
          <li>cantidad: <%= produc.cantidad %></li>
        </ul>
      </div>
    </div>
    <button onclick="finalizarCompra()">FINALIZAR COMPRA</button>
    <% } ) %> <% }else{ %>
    <h2>no hay productos</h2>
    <%}%>
    