<% if(producto.length > 0) {%> <% producto.forEach((produc)=>{ %>
<div id="productos">
  <div>
    <ul>
      <li><%= produc.producto %></li>
      <li><img src="<%= produc.img_url %>" alt="#" />%></li>
      <li>$<%= produc.precio %></li>
    </ul>
  </div>
</div>
<% } ) %> <% }else{ %>
<h2>no hay productos</h2>
<%}%>
