<h1>REGISTRARSE</h1>
<form method="post" action="/signup">
  <label for="username ">nombre</label>
  <input type="text" name="username" placeholder="ingrese su nombre" required />
  <br />
  <label for="email ">email</label>
  <input type="email" name="email" placeholder="ingrese su email" required />
  <br />
  <label for="password ">contraseña</label>
  <input
    type="text"
    name="password"
    placeholder="ingrese su contraseña"
    required
  />
  <br />
  <label for="edad ">edad</label>
  <input
    type="text"
    name="edad"
    placeholder="ingrese su edad"
    required
  />
  <br />
  <label for="telefono ">telefono</label>
  <input
    type="text"
    name="telefono"
    placeholder="ingrese su telefono"
    required
  />
  <br />
  <label for="calle ">calle</label>
  <input
    type="text"
    name="calle"
    placeholder="ingrese su calle"
    required
  />
  <br />
  <label for="numero ">numero</label>
  <input
    type="text"
    name="numero"
    placeholder="123"
    required
  />
  <br />
  <label for="foto ">foto</label>
  <input
    type="text"
    name="foto"
    placeholder="ingrese su foto"
    required
  />
  <br />
  <input type="submit" value="reegistrarse" />
  <br />
</form>
<a href="/login">logearse</a>

