<!DOCTYPE html>
<html lang="en">
  <%- include ("../partials/head"); %>
  <body>
    <a href="/">volver</a>
    <% if(usuarioLogeado) {%>
      <%-include("../partials/usuario"); %>
      <h2>CARRITO</h2>
    <%-include("../partials/productosCarrito"); %> 
    <% }else{ %>
    <a href="/login">login</a>
    <a href="/signup">reegistrarse</a>
    <%}%>
    <script src="../../public/index.js"></script>
  </body>
</html>
