<form onsubmit="enviarMsg(); return false ">
    <label for="texto">Email</label>
    <input type="email" id="email" name="texto" placeholder="ingrese email" required></imput>
    
    <label for="nombre">nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="ingrese nombre" required></imput>
    
    <label for="edad">edad</label>
    <input type="number" id="edad" name="edad" placeholder="ingrese edad" required></imput>
    
    <br>
    <label for="textArea">Escribir</label>
    <input type="textarea" id="textArea" placeholder="escribir aquí"></imput>
    <input type="submit" name="enviar" />
  </form>