<form onsubmit="cargarProductoDb(); return false;">
  <label for="producto ">producto</label>
  <input id="productoId" type="text" name="producto" required />
  <br />
  <label for="precio ">precio</label>
  <input type="number" id="precioId" name="precio" required />
  <br />
  <label for="myFile">img url</label>
  <input type="text" id="myFileId" name="myFile" required />
  <br />
  <label for="stock">Stock</label>
  <input type="number" id="stockId" name="stock" required />
  <br />
  <input type="submit" value="cargar un producto" />
  <br />
</form>
