<h1>REGISTRARSE</h1>
<form method="post" action="/signup">
  <label for="username ">nombre</label>
  <input type="text" name="username" placeholder="ingrese su nombre" required />
  <br />
  <label for="password ">contraseña</label>
  <input
    type="text"
    name="password"
    placeholder="ingrese su contraseña"
    required
  />
  <br />
  <input type="submit" value="reegistrarse" />
  <br />
</form>
<a href="/login">ir a login</a>
<br />
<a href="/api/productos">ir a inicio</a>
